.column {
	margin-top: 10px;
	margin-left: 25%;
	margin-right: 25%;
}

.card {
	background-color: white;
	padding: 20px;
	margin: 20px;
	height: 350px;
}

.soundcloud {
	background-color: white;
	padding: 20px;
	margin: 20px;
	height: 400px;
}

#panda {
	height: 144px;
}

#such_empty {
	height: 144px;
}
